*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $color-white;
    font-family: $main-font;
}

.container {
    background-color: white;
    height: 82vh;
    margin: 60px 120px;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 10px 4px $color-gray;
    .button_box {
        flex: 0 0 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            padding: 10px 20px;
            text-align: center;
        }
        button {
            border: none;
            border-radius: 5px;
            padding: 20px 30px;
            background-color: gray;
            color: $color-white;
            font-size: 20px;
            cursor: pointer;
            transition: $transition;
            &:hover {
                background-color: $color-gray;
            }
        }
    }
    .table_box {
        flex: 0 0 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 40px;
        table {
            width: 80%;
            height: 70%;
            border-collapse: collapse;
            box-shadow: 4px 2px 10px 4px $color-gray;
            tr {
                border: 1px solid $color-gray;
            }
            th, td {
                border: 1px solid $color-gray;
                padding: 10px 20px;
            }
            .odd, .even {
                width: 50%;
                text-align: center;
            }
        }
    }

}

@include tablet {
    .container {
        margin: 30px 60px;
        height: 90vh;
    }
}

  
@include mobile {
    .container {
        margin: 30px 20px;
        height: 150vh;
        .table_box {
            margin: 10px;
            table {
                width: 80%;
                height: 70%;
                border-collapse: collapse;
                tr {
                    border: 1px solid $color-gray;
                }
                th, td {
                    border: 1px solid $color-gray;
                    padding: 10px 20px;
                }
                .odd, .even {
                    width: 50%;
                    text-align: center;
                }
            }
        }
    }
}